Если доллaр возрастает, то курс Азербайджанского манаты падает

In [2]:
#Импортируем библиотеки
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Загружаем таблицу в pandas
df = pd.read_csv('file:///C:/Users/Zver/Desktop/Jupyter/curs%20(1).csv')
df.drop(['nominal'], inplace=True, axis=1)
df.head()

#Индексируем строчки датами из колонки data
df['data'] = pd.to_datetime(df['data'])
df['data']
df.index=df['data']
df.head()

#Добавляем в таблицу столбцы, соответствующие году, месяцу и дню
df['Year']=df.index.year
df['Mon']=df.index.month
df['Day']=df.index.day
dates=df[['Year','Mon','Day']]
dates.head()

#Создаем мультииндекс
df.index=pd.MultiIndex.from_tuples(dates.values.tolist(), names=dates.columns)
df.head()

#Удаляем последнии 3 столбца с годом, месяцем, днем
df=df.drop(columns = ['Year', 'Mon','Day' ],axis = 1)
df.head()

#сгруппируем каждый курс по месяцам
year_day_mean=df.groupby(level=[0, 1]).mean()
year_day_mean.head()

#Посчитаем корреляцию
corr=df.corr()
corr

#Нарисуем картинку
#import matplotlib.pyplot as plt
#plt.imshow(corr,cmap='seismic',interpolation='none',vmin=-1,vmax=1)
#plt.colorbar()
#plt.xticks(range(len(corr)),corr.columns)
#plt.yticks(range(len(corr)),corr.columns)

              curs (manat)  curs(USA)
curs (manat)      1.000000   0.314731
curs(USA)         0.314731   1.000000

In [25]:
#Импортируем библиотеки
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Загружаем таблицу в pandas
df = pd.read_csv('file:///C:/Users/Zver/Desktop/Jupyter/curs%20(1).csv')
df.drop(['nominal'], inplace=True, axis=1)
df.head()

#Индексируем строчки датами из колонки data
df['data'] = pd.to_datetime(df['data'])
df['data']
df.index=df['data']
df.head()

         data  curs (manat)  curs(USA)
0  2022-12-31       41.3750    70.3375
1  2022-12-30       42.3399    71.9778
2  2022-12-29       41.9565    71.3261
3  2022-12-28       41.1380    69.9346
4  2022-12-27       40.2639    68.4487